body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e1e1e;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #333;
}

.left-icons, .right-icons {
  display: flex;
  gap: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 36px;
  height: 36px;
}

button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

button:hover {
  background: #555;
  border-radius: 5px;
}

.main-layout {
  display: flex;
  flex: 1;
}

.toolbar {
  width: 200px;
  padding: 5px; /* Verlaag de padding om meer ruimte voor de iconen te creëren */
  background: #444;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Maximaal 3 knoppen naast elkaar */
  gap: 1px; /* Verlaagde ruimte tussen knoppen voor compacter uiterlijk */
  justify-items: center;
  align-items: center;
}

.toolbar-button {
  width: 60px; /* Maak de knoppen iets kleiner */
  height: 60px; /* Maak de knoppen iets kleiner */
  background: #555;
  border-radius: 5px; /* Verlaag de afronding van de knoppen */
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-button img {
  width: 32px; /* Grotere icoonbreedte om de knoppen aantrekkelijker te maken */
  height: 32px; /* Grotere icoonhoogte om de knoppen aantrekkelijker te maken */
}

.toolbar-button:hover {
  background: #666;
}


.canvas-container {
  flex: 1;
  background: #202020;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
}
.toolbox {
  width: 250px; /* Set the desired width for the toolbox */
  overflow-y: auto; /* Add scroll if content overflows */
  max-height: 95vh; /* Ensure it doesn't overflow the viewport height */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#toolDetails {
  width: 100%; /* Ensure it takes the full width of the toolbox */
  overflow-y: auto; /* Add scroll if content overflows */
  max-height: 90vh; /* Ensure it doesn't overflow the viewport height */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content h3 {
  margin-top: 0;
}

.popup-content button {
  margin-top: 10px;
}

.align-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.align-button img {
  width: 24px; /* Stel de gewenste grootte van de SVG's in */
  height: 24px;
}

.align-button:hover {
  background: #555;
  border-radius: 5px;
}
